@import 'global/variables';

@mixin icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

@mixin repository-label-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

@mixin item-type-tag {
  .item-type-tag {
    color: var(--color-crotalus);
    border-color: var(--color-crotalus);
    flex: 0 0 auto;
    background: transparent;
    border: 1px solid;
    border-radius: 20px;
    padding: 1px 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      color: var(--color-crotalus);
      @include icon-size(18px);
      margin-right: 4px;
    }

    @include types-with-colors;

  }
}

@mixin types-with-colors {
  @each $class,
  $color in $content-type-colors {
    &.#{$class},
    .#{$class} & {
      color: $color;
      border-color: $color;

      mat-icon {
        color: $color;
      }
    }
  }
}
