@import 'global/mixins';
@import 'global/variables';
@import 'global/responsive-breakpoints';

:host {
  display: inline-block;
  margin: auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

mat-card {
  margin: 0 0 15px;
  width: 100%;

  @media #{$xsmall} {
    max-width: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.top-info-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .repository-name {
    flex-grow: 1;
    color: var(--color-medium-tint);
    margin-left: 10px;
    padding-right: 30px;
    font-weight: normal;
    font-size: 0.9rem;
    @include repository-label-ellipsis;
  }

  @include item-type-tag;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

.card-content-column {
  width: 100%;

  mat-card-header {
    padding-top: 0;
    padding-bottom: 0;

    @include types-with-colors;
  }

  mat-card-title {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 0;
    font-family: "Cabin Sketch", cursive;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
  }

  mat-card-content {
    font-size: 14px;
    font-weight: normal;
    padding: 0 16px;

    @media #{$xsmall} {
      padding-bottom: 0;
    }

    .card-thumbnail-column {
      justify-content: center;
      align-items: center;
    }
  }
}

p.description {
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

p.keywords {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-thumbnail-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;


  mat-card-content {
    padding-top: 0;
    padding-right: 8px;
  }

  .image-loader {
    display: block;
    max-width: 150px;
    min-width: 80px;
    max-height: 150px;
    border-radius: 4px;
    margin: 0 auto;
  }

  @media #{$xsmall} {
    justify-content: space-between;
    align-items: flex-start;


    p.keywords {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    img {
      max-width: 128px;
      max-height: 128px;
    }
  }
}
