@import "global/mixins";
@import "global/variables";

$indicators-size: 16px;

mat-card.image-item-card {
  height: 322px;
  margin: 25px 30px;
  max-width: 380px;
  padding: 32px 0 0;
  border-radius: 2px;

  mat-card-title {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    padding: 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.015em;
    font-family: "Cabin Sketch", cursive;
    color: #555;
  }

  mat-card-subtitle {
    position: absolute;
    height: 32px;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 4px 4px 4px 8px;
    font-size: 15px;
    background-color: #ffffff;
    color: $primary;
    border-radius: 2px 2px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .download-icon {
      font-size: 15px;
      color: #fff;
      display: flex;
      height: 24px;
      width: 24px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background: rgba($primary, 0.45);
      border-radius: 2px;
      transition: background 100ms ease-in-out;
      cursor: pointer;

      &:hover {
        background: rgba($primary, 0.75);
        transition: background 100ms ease-in-out;
      }

      .mat-icon {
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
      }
    }

    .mat-icon {
      @include icon-size($indicators-size);
      vertical-align: sub;
    }
  }
}

::ng-deep {
  .mat-tooltip {
    font-weight: normal;
    font-size: 12px;
  }
}
