@import "global/mixins";

@include item-type-tag;

:host {
  display: block;
  position: relative;

  .top-info-bar {
    @include types-with-colors;
    display: flex;
    height: 25px;
    justify-content: space-between;
    margin: 0 0 10px;
    max-width: 100%;
    overflow-x: visible;

    .quick-info {
      display: flex;
    }

    .social {
      align-items: center;
      display: inline-flex;
      font-size: .85rem;
      justify-content: center;
      padding-left: 10px;

      .mat-icon {
        @include icon-size(18px);
        vertical-align: bottom;
      }
    }

    .close-button-wrapper .mat-button {
      margin-right: -20px;
      margin-top: -5px;
      position: relative;


      .mat-icon {
        font-size: 32px;
        height: 26px;
        line-height: 26px;
        width: 26px;
      }
    }
  }
}

.top-info-bar {
  @include types-with-colors;
}

.main-card {
  padding: 0;

  * {
    font-weight: 400;
  }

  > *:not(.top-info-bar) {
    padding: 0 16px;
  }

  .loading-spinner {
    margin: 100px;
  }

  .mat-card-header {
    position: relative;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0;

    .mat-card-title {
      color: #555;
      font-family: "Cabin Sketch", cursive;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.015em;
      margin-bottom: 5px;
      margin-top: 8px;
    }

    .mat-card-subtitle {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      margin-bottom: 8px;
      margin-left: 4px;
    }
  }


  .content {
    font-size: 17px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }

    .image-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 16px 0;
    }

    .info-wrapper {
      flex: 1 0 400px;
      padding: 16px 16px 16px 20px;

      @media (max-width: 600px) {
        flex-basis: 250px;
      }

      .info-item {
        margin-bottom: 20px;
        max-width: 700px;
        padding-left: 8px;

        h4 {
          color: #333;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 4px;
          margin-left: -8px;
          margin-top: 8px;
          text-align: left;
        }

        &.downloads {
          text-align: right;
        }

        &.copyright {

          p {
            align-items: center;
            display: flex;
            justify-content: flex-start;
          }

          .license-link {
            align-items: center;
            border-radius: 3px;
            display: inline-flex;
            padding: 5px;
            text-decoration: none;

            &:hover {
              opacity: 0.6;
            }
          }

          .version-wrapper {
            display: inline-block;
            font-size: 0.8em;
            margin: 0 5px 0 10px;
            text-align: center;
          }
        }
      }

      .contribution-item {
        background: #e5e5e5;
        border-radius: 4px;
        display: inline-block;
        line-height: 18px;
        margin: 8px 16px 8px 0;
        margin-bottom: 16px;
        padding: 6px 10px;
        text-align: right;

        span.rol {
          font-size: 0.95em;
          font-style: oblique;
          opacity: 0.9;
        }

        span {
          font-size: 0.75em;
          opacity: 0.75;
        }
      }

      .download-item {
        display: inline-flex;
        margin-top: 10px;

        &:not(:last-child) {
          margin-right: 25px;
        }

        .download-button {
          align-items: center;
          background: rgba($primary, 0.45);
          border-radius: 4px;
          color: #FFF;
          cursor: pointer;
          display: flex;
          justify-content: center;
          padding: 4px 9px 4px 5px;
          text-decoration: none;
          transition: background 100ms ease-in-out;

          &:hover {
            background: rgba($primary, 0.75);
            transition: background 100ms ease-in-out;
          }
        }
      }
    }
  }
}

.view-metadata-link {
  position: absolute;
  bottom: 0px;
  right: -11px;
  font-size: 13px;
  cursor: pointer;
  color: $primary;
}

::ng-deep {
  .metadata-modal .mat-dialog-container {
    max-height: 70vh;
    max-width: 66vw;
    text-align: right;
    padding: 8px 16px;

    pre {
      text-align: left;
      max-height: calc(70vh - 180px);
    }

    button {
      margin: 10px 0;

      .close-icon {
        margin: 0;
        padding: 10px;
        margin-right: -10px;
      }

      &:focus {
        outline: 0;
      }
    }

    .mat-button .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}

.close-button-wrapper {
  text-align: right;
}
