@import 'global/mixins';
@import "global/variables";

:host {
  display: block;
  position: relative;

  .fixed-top-info {
    background-color: #fff;
    border-bottom: 2px solid #555;
    color: #555;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.8);

    .icon {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5px;
      .mat-icon {
        @include icon-size(28px);
      }
    }

    .title {
      padding: 0 6px;
      flex-grow: 1;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Cabin Sketch", cursive;
      font-size: 1.1rem;
      white-space: nowrap;
      line-height: 2;
    }

    span:last-child .mat-button {
      min-width: 30px;
    }
  }

  mat-dialog-content {
    position: relative;
    padding-top: 45px;
    margin: 0;
    max-height: 96vh;
    min-height: 360px;
  }

  .item-type {
    position: absolute;
    padding: 9px 13px;
    color: #555;
    background-color: #e5e5e5;
    border-radius: 4px 0;
    font-size: 16px;
    font-weight: 400;
    top: 0px;
    left: 0;

    .mat-icon {
      @include icon-size(30px);
      height: 26px;
      text-align: center;
      vertical-align: bottom;
      margin-right: 3px;
    }
  }

  .close-button-wrapper {
    position: absolute;
    top: 4px;
    right: 0;

    button .mat-icon {
      height: 26px;
      width: 26px;
      line-height: 26px;
      font-size: 30px;
    }
  }
}

mat-card.main-card {
  padding: 0;

  * {
    font-weight: 400;
  }

  .loading-spinner {
    margin: 100px;
  }

  .mat-card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #673ab7;
      font-size: 14px;
      margin-left: 10px;

      .mat-icon {
        vertical-align: bottom;
        @include icon-size(20px);
      }
    }
  }

  ::ng-deep .mat-card-header-text {
    margin: 0;

    .mat-card-title {
      margin-bottom: 5px;
      margin-top: 8px;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.015em;
      font-family: "Cabin Sketch", cursive;
      color: #555;

      @media (max-width: 600px) {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 1.3;
      }
    }

    .mat-card-subtitle {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      margin-bottom: 8px;
      margin-left: 4px;
    }
  }


  .content {
    font-size: 17px;

    .image-wrapper {
      padding: 16px 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      video {
        max-width: 700px;
        width: 96%;
        margin: 0 auto;
      }
    }

    .info-wrapper {
      flex: 1 0 400px;
      padding: 16px;

      @media (max-width: 600px) {
        flex-basis: 250px;
        padding: 6px;
      }

      .info-item {
        padding-left: 8px;
        margin-bottom: 20px;
        max-width: 700px;

        h4 {
          margin-left: -8px;
          margin-top: 8px;
          margin-bottom: 4px;
          font-size: 20px;
          font-weight: bold;
          color: #333;
          text-align: left;
        }

        &.copyright {

          p {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }

          .license-link {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            padding: 5px;
            border-radius: 3px;

            &:hover {
              opacity: 0.6;
            }
          }

          .version-wrapper {
            display: inline-block;
            text-align: center;
            margin: 0 5px 0 10px;
            font-size: 0.8em;
          }
        }
      }

      .contribution-item {
        margin-bottom: 16px;
        display: inline-block;
        background: #e5e5e5;
        padding: 6px 10px;
        border-radius: 4px;
        text-align: right;
        margin: 8px 16px 8px 0;
        line-height: 18px;

        span.rol {
          font-size: 0.95em;
          font-style: oblique;
          opacity: 0.9;
        }

        span {
          font-size: 0.75em;
          opacity: 0.75;
        }
      }

      .download-item {
        display: inline-flex;
        margin-top: 2px;

        @media (max-width: 600px) {
          margin-top: 12px;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }

        .download-button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          background: rgba($primary, 0.45);
          color: #FFF;
          border-radius: 4px;
          transition: background 100ms ease-in-out;
          cursor: pointer;
          padding: 4px 9px 4px 5px;

          &:hover {
            background: rgba($primary, 0.75);
            transition: background 100ms ease-in-out;
          }
        }
      }
    }
  }
}

.view-metadata-link {
  position: absolute;
  bottom: 0px;
  right: -11px;
  font-size: 13px;
  cursor: pointer;
  color: $primary;
}

::ng-deep {
  .details-view-modal > .mat-dialog-container {
    padding: 0;
  }

  .metadata-modal .mat-dialog-container {
    max-height: 70vh;
    max-width: 66vw;
    text-align: right;
    padding: 8px 16px;

    pre {
      text-align: left;
      max-height: calc(70vh - 180px);
    }

    button {
      margin: 10px 0;

      .close-icon {
        margin: 0;
        padding: 10px;
        margin-right: -10px;
      }

      &:focus {
      outline: 0;
      }
    }

    .mat-button .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}

.close-button-wrapper {
  text-align: right;
}
