<div class="image-box"
  [ngStyle]="{'min-width': placeholderWidth, 'min-height': placeholderHeight, 'max-width': imageMaxWidth, 'max-height': imageMaxHeight}"
  [class.no-background]="transparentBackground && imageVisible"
  >
  <div class="loader-background">
    <i *ngIf="!imageVisible"></i>
    <mat-icon *ngIf="!imageVisible">image</mat-icon>
  </div>
  <img
    [hidden]=!imageVisible
    [src]="imageUrl"
    [alt]="imageAlt"
    (load)="showImage()"
    (error)="imageLoadError.emit()"
  >

  <div class="preview-box" #previewBox></div>

</div>
