<div class="image-box"
  [ngStyle]="{'min-width': placeholderWidth, 'min-height': placeholderHeight, 'max-width': imageMaxWidth, 'max-height': imageMaxHeight}"
  [class.no-background]="transparentBackground && imageVisible"
>
  <i *ngIf="!imageVisible"></i>
  <mat-icon *ngIf="!imageVisible">image</mat-icon>
  <img
    [hidden]="!imageVisible || mouseover"
    [src]="imageUrl"
    [alt]="imageAlt"
    (load)="showImage()"
    (error)="imageLoadError.emit()"
  >
  <img
    [hidden]="!previewLoaded || !mouseover "
    [src]="localPreviewUrl"
    [alt]="imageAlt"
  >

</div>
