:host {
  width: 100%;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #e5e5e5;
  border-radius: 2px 2px 0 0;

  &.no-background {
    background-color: transparent;
  }

  mat-icon {
    font-size: 130px;
    width: auto;
    height: auto;
    display: block;
    color: #FFFFFF;
    padding: 0 50px;
  }

  img {
    width: auto;
    border-radius: 2px 2px 0 0;
    max-width: 100%;
    max-height: 100%;
  }

  i {
    /*   positioning */
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    /*   gradient   */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 1%,
      rgba(255, 255, 255, 0.7) 30%,
      rgba(255, 255, 255, 0.95) 50%,
      rgba(255, 255, 255, 0.95) 70%,
      rgba(255, 255, 255, 0.95) 71%,
      rgba(255, 255, 255, 0) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    /*  forming the shine element
        play around with the width, skew and gradient to get different effects
      */
    width: 15%;
    height: 100%;
    transform: skew(-10deg, 0deg);

    /*  animating it  */
    animation: shine 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }
}

@keyframes shine {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
