<mat-card class="image-item-card mat-elevation-z2">
  <div class="image-wrapper" (mouseover) = "onMouseover()" (mouseleave) = "onMouseleave()">

    <ng-container [ngSwitch]="itemInfo.type">
      <app-image-handler *ngSwitchCase="'image'" [imageUrl]="getThumbnailUrl()"></app-image-handler>
      <app-image-handler *ngSwitchCase="'video'"
        [imageUrl]="getThumbnailUrl()"
        [previewUrl]="getPreviewUrl()"
        [mouseover]="mouseover">
      </app-image-handler>
    </ng-container>

    <div class="open-details-overlay" (click)="openDetails()">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <mat-card-content>
    <mat-card-title #titleRef
    matTooltipPosition="above"
    [matTooltip]="itemInfo.metadata.general.title.none"
    [matTooltipDisabled]="shouldDisableTooltip(titleRef)">
      {{itemInfo.metadata.general.title.none}}
    </mat-card-title>
    <mat-card-subtitle>
      <div class="item-type">
        <ng-container [ngSwitch]="itemInfo.type">
            <span *ngSwitchCase="'image'"><mat-icon>image</mat-icon> imagen</span>
            <span *ngSwitchCase="'video'"><mat-icon>videocam</mat-icon> video</span>
        </ng-container>
      </div>

      <div class="actions">
        <div class="social-stats">
          <span>
            <mat-icon>visibility</mat-icon> {{itemInfo.social.views}}
          </span>
          <span>
            <mat-icon>comment</mat-icon>
            {{itemInfo.social.comments}}
          </span>
        </div>

        <mat-menu #downloadMenu="matMenu" xPosition="before">
          <ng-container *ngFor="let alternate of alternates">
              <a mat-menu-item
              *ngIf="isResourceInSameDomain; else iconTemplate"
              [href]="getResourceDownloadUrl(alternate)"
              [download]="entrypointName"
            >
              {{ getSizeLabel(alternate) }}
            </a>
            <ng-template #iconTemplate>
              <span mat-menu-item (click)="openResourceInNewWindow(alternate)">
                {{ getSizeLabel(alternate) }}
              </span>
            </ng-template>
          </ng-container>
        </mat-menu>
        <span class="download-icon">
          <mat-icon *ngIf="alternates.length" [matMenuTriggerFor]="downloadMenu">get_app</mat-icon>
        </span>
      </div>

    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
