<mat-card class="image-item-card mat-elevation-z2">
  <div class="image-wrapper">
    <app-image-handler [imageUrl]="getThumbnailUrl()"></app-image-handler>
    <div class="open-details-overlay" (click)="openDetails()">
      <mat-icon>open_in_new</mat-icon>
    </div>
  </div>
  <mat-card-content>
    <mat-card-title #titleRef [matTooltip]="imageItem.metadata.general.title.none" matTooltipPosition="above"
      [matTooltipDisabled]="shouldDisableTooltip(titleRef)">{{imageItem.metadata.general.title.none}}</mat-card-title>
    <mat-card-subtitle>

      <div class="item-type">
        <ng-container [ngSwitch]="imageItem.type">
            <span *ngSwitchCase="'image'"><mat-icon>image</mat-icon> imagen</span>
            <span *ngSwitchCase="'video'"><mat-icon>videocam</mat-icon> video</span>
        </ng-container>
        
      </div>

      <div class="actions">
        <div class="social-stats">
          <span>
            <mat-icon>visibility</mat-icon> {{imageItem.social.views}}
          </span>
          <span>
            <mat-icon>comment</mat-icon>
            {{imageItem.social.comments}}
          </span>
        </div>

        <mat-menu #downloadMenu="matMenu" xPosition="before">
          <ng-container *ngFor="let alternate of alternates">
              <a mat-menu-item
              *ngIf="isResourceInSameDomain; else iconTemplate"
              [href]="getResourceDownloadUrl(alternate)"
              [download]="entrypointName"
            >
              {{ getSizeLabel(alternate) }}
            </a>
            <ng-template #iconTemplate>
              <span mat-menu-item (click)="openResourceInNewWindow(alternate)">
                {{ getSizeLabel(alternate) }}
              </span>
            </ng-template>
          </ng-container>
        </mat-menu>

        <span class="download-icon">
          <mat-icon *ngIf="imageItem.type == image; else noMenuTemplate" [matMenuTriggerFor]="downloadMenu">get_app</mat-icon>
          <ng-template #noMenuTemplate>
            <mat-icon>get_app</mat-icon>
          </ng-template>
          
        </span>
      </div>

    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
