@import "global/mixins";
@import "global/variables";

$indicators-size: 16px;

mat-card.image-item-card {
  height: 325px;
  margin: 25px 30px;
  max-width: 380px;
  padding: 35px 0 0;
  border-radius: 2px;


  .image-wrapper {
    position: relative;

    .open-details-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      background-color: rgba(0,0,0,0.3);
      cursor: pointer;
      transition: opacity 70ms ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      .mat-icon {
        color: rgba(255,255,255,0.8);
        @include icon-size(60px);
      }
    }
    
    &:hover .open-details-overlay {
      opacity: 1;
      transition: opacity 120ms ease-in-out;
    }
  }


  mat-card-title {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    padding: 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.015em;
    font-family: "Cabin Sketch", cursive;
    color: #555;
  }

  mat-card-subtitle {
    position: absolute;
    height: 35px;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 6px 5px;
    font-size: 13px;
    background-color: #ffffff;
    color: $primary;
    border-radius: 2px 2px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .item-type span {
      color: #555;
      padding: 0px 6px 0px 2px;
      border-radius: 2px;
      font-size: 14px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 3px;
      font-family: "Cabin Sketch", cursive;

      .mat-icon {
        height: 18px;
        width: 20px;
        line-height: 18px;
        text-align: center;
        vertical-align: sub;
        font-size: 18px;
      }
    }
    
    .actions {
      display: flex;
      .mat-icon {
        @include icon-size($indicators-size);
        vertical-align: sub;
      }
    }

    .social-stats {
      padding-top: 3px;

      span:not(:last-child) {
        margin-right: 2px;
      }
    }


    .download-icon {
      font-size: 15px;
      color: #fff;
      display: flex;
      height: 24px;
      width: 24px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background: rgba($primary, 0.45);
      border-radius: 2px;
      transition: background 100ms ease-in-out;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background: rgba($primary, 0.75);
        transition: background 100ms ease-in-out;
      }

    }
  }
  

}

::ng-deep {
  .mat-tooltip {
    font-weight: normal;
    font-size: 12px;
  }
}
