<div class="logo">
  <mat-icon class="logo-icon" color="primary">image_search</mat-icon>
  <div class="title mat-primary">
    Crotalus

  </div>
      <div class="help-icons">
        <mat-icon (click)="showInfoDialog('help')">help</mat-icon>
        <mat-icon (click)="showInfoDialog('info')">info</mat-icon>
      </div>
</div>

<ng-template #infoTextRef>
  <p>Recursos educativos digitales abiertos (REDA) producidos durante el proyecto RutaTIC.</p>
</ng-template>

<ng-template #helpTextRef>
  <p>Crotalus permite buscar y obtener los recursos multimediales producidos en el proyecto de investigación RutaTIC y que están a disposición de la comunidad bajo licencia Creative Commons, para que la comunidad puedan hacer uso de ellos en sus proyectos.</p>
</ng-template>
