<div class="logo">
  <mat-icon class="logo-icon" color="primary">image_search</mat-icon>
  <div class="title mat-primary">
    Crotalus
  </div>
</div>

<div class="site-description" *ngIf="siteDescription.length || siteAboutInfo.length">
  <p class="text">
    <span *ngIf="siteDescription.length">{{siteDescription}}</span>
    <span *ngIf="siteAboutInfo.length" [class.no-description]="!siteDescription.length"><mat-icon (click)="showInfoDialog('info')">info</mat-icon></span>
  </p>
</div>

<div class="company-logo" *ngIf="companyLogoFileName.length">
  <img [src]="companyLogoPath" alt="">
</div>

<ng-template #infoTextRef>
  <p>{{siteAboutInfo}}</p>
</ng-template>
