<app-header></app-header>

<div class="search-bar">
  <mat-form-field class=search-input>
    <input matInput name="valueToSearch" placeholder="¿Sobre qué deseas buscar?" [(ngModel)]="valueToSearch"
      (keyup.enter)="search(true)">
  </mat-form-field>
  <button *ngIf="!isSearching" mat-stroked-button color="primary" (click)="search(true)">Buscar</button>
  <div class="spinner-box" *ngIf="isSearching">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</div>


<ng-container *ngIf="searchDone || (results && results.length > 0)">
  <div class="results-wrapper" *ngIf="results && results.length, else noResultsTemplate">
    <ng-container *ngFor="let result of results">
      <app-general-result-card [itemInfo]="result" (openDetails)="showResourceDetails(result.about)" (playEvent)="playEvent($event)"></app-general-result-card>
    </ng-container>
    <div *ngIf="shouldShowMoreResultsSpinner" class="more-results-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div *ngIf="noMoreResults" class="more-results-spinner">
      <p class="message">No hay más resultados.</p>
    </div>
  </div>


  <ng-template #noResultsTemplate>
    <div class="no-results-wrapper">
      <ng-container *ngIf="!isSearching">
        <mat-icon>sentiment_dissatisfied</mat-icon>
        <p class="message">Ooops!! No encontramos resultados para tu búsqueda.</p>
        <div class="spinner-box">
          <mat-spinner *ngIf="isSearching" diameter="30"></mat-spinner>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>

<button mat-fab
 *ngIf="shouldShowUpButton"
  class="go-up-button"
  aria-label="ir arriba"
  (click) = "onUpButtonClick()">
  <mat-icon>arrow_upward</mat-icon>
</button>
