<h1><mat-icon color="primary">image_search</mat-icon></h1>

<div class="search-bar">
  <mat-form-field class=search-input>
    <input matInput name="valueToSearch" placeholder="¿Sobre qué deseas buscar?" [(ngModel)]="valueToSearch"
      (keyup.enter)="search()" (ngModelChange)="shouldClearResults()">
  </mat-form-field>
  <button *ngIf="!isSearching" mat-raised-button color="primary" (click)="search()">Buscar</button>
  <div class="spinner-box">
    <mat-spinner *ngIf="isSearching" diameter="30"></mat-spinner>
  </div>
</div>



<ng-container *ngIf="!isSearching && searchDone">
  <div class="results-wrapper" *ngIf="results && results.length, else noResultsTemplate">
    <ng-container *ngFor="let result of results">
        <app-image-item-card [imageItem]="result"></app-image-item-card>
    </ng-container>
  </div>

  <ng-template #noResultsTemplate>
    <div class="no-results-wrapper">
      <mat-icon>sentiment_dissatisfied</mat-icon>
      <p class="message">Ooops!! No encontramos resultados para tu búsqueda.</p>
    </div>
  </ng-template>
</ng-container>


