:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


.results-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

mat-card {
  height: 250px;
  margin: 25px 15px;
  max-width: 350px;

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      height: 150px;
      width: auto;
    }
  }

  mat-card-title {
    font-size: 15px;
    font-weight: lighter;
  }

  mat-card-subtitle {
    .mat-icon {
      font-size: 14px;
    }
  }
}
